

#section1 h1{
  font-size: 6em;
  text-align: center;
  margin-top: 20px;
}
#section1 button{
  animation: popUp 1s ease-out 2.5s forwards; /* 1s delay (starts after title) */
  opacity: 0;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
@keyframes popUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}